language: python
python:
  - "3.8"
# command to install dependencies
env: PYTHONPATH=$PYTHONPATH:$TRAVIS_BUILD_DIR/lowkey:$TRAVIS_BUILD_DIR/collabtypes
install:
  - pip install -r requirements.txt
#  - python ./lowkey-examples/setup.py install
#  - python ./setup.py sdist

addons:
  sonarcloud:
    organization: "david-istvan"

script:
  - pytest ./lowkey/lww/tests/TestSuite.py
  - pytest ./lowkey/collabtypes/tests/TestSuite.py
  #- pytest ./lowkey-examples/mindmap/tests/TestSuite.py
  - pytest ./lowkey-examples/mindmap/scenarios/TestSuite.py
  - sonar-scanner
